@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(/font/Poppins-Light.ttf) format('ttf');
}


.App {
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  font-family: monospace !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.NavBar {
  width: 25vw !important;
  font-family: 'Poppins', sans-serif !important;
}

.bubbles {

  width: 100%;

 height: 100%;

 position: fixed;

 

 /* background-image: linear-gradient(to bottom right, #e6dbc9, #e6dbc9,  #e6dbc9); */


 background-color: "red";
 background-size: cover;

 background-position: 50% 50%;

 background-repeat: no-repeat;

 z-index: 1;
}

.btn {
  box-sizing: border-box;
  z-index: 1000000 !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.loading-gif {
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-active {
  color: #f2564fff !important;
}